# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# Pyre type checker
.pyre/

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# profiling
.prof
.profraw

# Coverage
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs and databases
*.log
*.sqlite
*.db

# # MLflow, models, experiments
# mlruns/
# mlartifacts/
# artifacts/
# *.pkl
# *.joblib
# *.json
# *.csv
# *.png

# OS files
.DS_Store
Thumbs.db

# Test outputs
htmlcov/
junit-*.xml

# Others
*.bak
*.swp
